<div class="row">
	<div class="well col-md-8 col-md-offset-1" >
			<%= link_to gravatar_for(review.chef, size: 75), chef_path(review.chef) %>

  <p>
    <strong><%= review.chef.chefname %></strong> says: <%= review.content %>
  </p>

	<p>
			<span class="quiet"><small> created: <%= time_ago_in_words(review.created_at) %> ago,</small></span>
			<span class="quiet"><small> updated: <%= time_ago_in_words(review.updated_at) %> ago</small></span>
	</p>

     
 
	</div>
</div>